*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/*/build
/camera-kit/build
/config/build
/app/build
/database-lib/build
/common-lib/build
/hmsagents/build
/service-lib/build
/captures
.externalNativeBuild
app/debug/
app/release/
*.log
*.apk
output.json
tmpmob/
/channel-script/*.apk
/channel-script/channels_output/*